@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.btn-style-one:hover,
.btn-style-three:hover,
.sec-title .title,
.btn-style-four:hover,
.list-style-one li .icon,
.post-block .block-inner h3 a:hover,
.social-icon-one li a:hover,
.approach-section .upper-box .title,
.services-block .inner-box .icon-box,
.step-block .inner-box .number,
.gallery-section .filters .filter.active,
.gallery-section .filters .filter:hover,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.call-to-action .contact-btn:hover,
.testimonial-block .inner-box .designation,
.testimonial-section .owl-nav .owl-prev:hover,
.news-block .inner-box .image .overlay-box .icon,
.testimonial-section .owl-nav .owl-next:hover,
.price-block .inner-box:hover h2,
.team-content h3:before,
.fact-counter.style-two .column .counter-title,
.news-block .inner-box .lower-content h3 a:hover,
.news-block .inner-box .lower-content .post-meta li a .icon,
.news-block .inner-box .lower-content .post-meta li a:hover,
.gallery-item .inner-box .image .overlay-box .read-more:hover,
.welcome-section .content-column .inner-column .phone,
.services-block-two .inner-box .lower-box h3 a:hover,
.main-header.header-style-two .header-top .top-left .links li a:hover,
.main-header .sticky-header .main-menu .navigation > li > a:hover,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .header-top .top-left .links li a:hover,
.choose-section .carousel-column .owl-nav .owl-prev:hover,
.choose-section .carousel-column .owl-nav .owl-next:hover,
.services-block-three .inner-box:hover .lower-content h3 a,
.services-block-three .inner-box:hover .icon-box,
.accordion-box .block .acc-btn.active,
.testimonial-block-two .inner-box .designation,
.default-form-section .title-box .title,
.footer-style-two .info-column h2,
.footer-style-two .info-column .info-list li span,
.social-icon-two li,
.social-icon-two li a:hover,
.page-title .page-breadcrumb li,
.social-icon-four li a:hover,
.blog-cat li a .icon,
.help-widget .widget-inner .help-list li .icon,
.brochure-widget .widget-inner .title,
.main-header .info-box .icon-box,
.testimonial-block-two .inner-box .image,
.call-to-action-three .contact-btn:hover,
.time-counter .time-countdown .counter-column,
.help-widget .widget-inner h2,
.services-single .services-tabs .tab-btns .tab-btn:hover,
.services-single .services-tabs .tab-btns .tab-btn.active-btn,
.time-counter .time-countdown .counter-column .count,
.team-block .inner-box .lower-box .designation,
.skills .skill-item .skill-header .skill-percentage,
.news-block-two .content-column .content-inner h3 a:hover,
.news-block-two .inner-box .image-column .image .overlay-box .icon,
.message-section .form-container .title,
.offer-block .inner-box .lower-content h3 a:hover,
.news-block-two .content-column .content-inner .post-meta li a .icon,
.news-block-two .content-column .content-inner .post-meta li a:hover,
.news-block-two .content-column .content-inner .post-meta li.read-more a,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus,
.offer-block .inner-box .lower-content .learn-more:hover,
.faq-section .prod-tabs .tab-btns .tab-btn.active-btn span,
.faq-section .prod-tabs .tab-btns .tab-btn:hover span,
.project-page-section .filters .filter.active,
.project-page-section .filters .filter:hover,
.project-detail-section .price-list li,
.news-block-three .content-column .post-meta li a .icon,
.news-block-three .content-column .post-meta li a:hover,
.news-block-three .content-column .inner-column h2 a:hover,
.project-detail-section .lower-content .text .validate,
.project-detail-section .lower-content .graph-boxed .price,
.news-block-four .content-column .inner-column h2 a:hover,
.news-block-four .content-column .post-meta li a:hover,
.news-block-four .content-column .post-meta li a .icon,
.sidebar .search-box .form-group button,
.category-list li a:hover,
.shop-item .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content .price,
.sidebar .related-posts .post a, .sidebar .related-posts .post a:hover,
.sidebar .related-posts .post .rating .fa,
.social-icon-three li a:hover,
.cart-table tbody tr .remove-btn,
.shipping-block .inner-box h3,
.contact-info-section ul li .icon,
.contact-info-section ul li:hover,
.order-box ul li span,
.product-details .basic-details .details-header .rating,
.sidebar-page-container .comments-area .comment .comment-reply,
.sidebar .popular-posts .post a:hover,
.cart-section .totals-table .total .price,
.checkout-page .default-links li .fa,
.checkout-page .default-links li a:hover,
.blog-single .inner-box .post-meta li .icon,
.cat-list-two li a:hover, .cat-list-two li a:hover::before,
.sidebar .popular-posts .post .post-thumb .overlay-box,
.comment-box-two .comment .comment-inner .rating,
.shop-comment-form .rating-box .rating a:hover,
.project-detail-section .lower-content .graph-boxed .project-list li:before,
.cases-section .filters .filter.active, .cases-section .filters .filter:hover{
	color:#FF4136;
}

/*Background Color*/

.btn-style-one,
.btn-style-two:hover,
.btn-style-three,
.sec-title .title:before,
.btn-style-four,
.call-to-action,
.btn-style-five:hover,
.scroll-to-top:hover,
.cart-section .coupon-btn:hover,
.cart-section .cart-options .cart-btn:hover,
.cart-table .cart-header,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul,
.fact-counter .count-outer:after,
.gallery-section .filters .filter:after,
.news-block .inner-box .image .post-date,
.call-to-action-two .inner-container,
.news-block-three .content-column .inner-column:before,
.ui-state-active, .ui-widget-content .ui-state-active,
.welcome-section .image-column .image .play-btn:hover,
.welcome-section .image-column .image .play-btn:hover .icon,
.services-block-two .inner-box .lower-box .arrow-box,
.price-block .inner-box .configure,
.brochure-widget .widget-inner .download-btn,
.default-form .message-btn,
.testimonial-section-two,
.cases-section .filters li:after,
.sidebar .instagram-widget .image-box .overlay-box,
.sidebar .popular-tags a:hover,
.call-to-action-three .contact-btn,
.news-block-four .content-column .inner-column .post-date,
.news-block-three .content-column .inner-column .post-date,
.project-page-section .filters li:after,
.styled-pagination li a:hover, .styled-pagination li a.active,
.main-footer.style-two .footer-bottom,
.team-block .inner-box:hover .lower-box .team-social-box,
.offer-block .inner-box .lower-content .order-btn,
.offer-block .inner-box .image .overlay-box .icon,
.team-block-two .inner-box .overlay-box,
.main-header .header-upper .upper-right .header-info-list,
.main-header .header-upper .upper-right .header-info-list:after,
.faq-section .prod-tabs .tab-btns .tab-btn:hover:before,
.faq-section .prod-tabs .tab-btns .tab-btn.active-btn:before,
.news-block-two .inner-box .image-column .image .post-date,
.comming-soon .emailed-form .form-group input[type="submit"],
.comming-soon .emailed-form button,
.product-details .basic-details .add-to-cart:hover,
.blog-single .inner-box .image .post-date,
.blog-single .inner-box .post-share-options .tags a:hover,
.news-block-four .content-column .inner-column:before,
.blog-cat li.active a, .blog-cat li a:hover,
.range-slider-one .filter-btn:hover,
.shipping-form button:hover,
.cart-section .totals-table .proceed-btn:hover,
.shop-item .inner-box .image .overlay-box .cart-option li a:hover,
.payment-box .payment-options li .radio-option label .small-text,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default{
	background-color:#FF4136;
}

/*Border Color*/

.btn-style-one,
.btn-style-three,
.btn-style-two:hover,
.btn-style-one:hover,
.btn-style-three:hover,
.btn-style-four,
.btn-style-four:hover,
.btn-style-five,
.call-to-action-three .contact-btn,
.btn-style-five:hover,
.testimonial-section .owl-nav .owl-prev:hover,
.testimonial-section .owl-nav .owl-next:hover,
.testimonial-block .inner-box .image,
.main-header .search-box-outer .dropdown-menu,
.main-header .search-panel input:focus,
.header-style-three,
.sidebar .search-box .form-group input:focus,
.testimonial-block-two .inner-box .image,
.team-block .inner-box .lower-box,
.main-header .search-panel select:focus,
.ui-state-active, .ui-widget-content .ui-state-active,
.welcome-section .image-column .image .play-btn .icon,
.welcome-section .image-column .image .play-btn:hover,
.choose-section .carousel-column .owl-nav .owl-prev:hover,
.choose-section .carousel-column .owl-nav .owl-next:hover,
.welcome-section .image-column .image .play-btn:hover .icon,
.default-form input[type="text"]:focus,
.default-form input[type="email"]:focus,
.default-form input[type="password"]:focus,
.default-form select:focus,
.time-counter .time-countdown .counter-column,
.default-form textarea:focus,
.sidebar .popular-tags a:hover,
.styled-pagination li a:hover, .styled-pagination li a.active,
.services-single .services-tabs .tabs-content .tab.active-tab,
.services-single .services-tabs .tab-btns .tab-btn:hover,
.services-single .services-tabs .tab-btns .tab-btn.active-btn,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.blog-single .inner-box blockquote .text,
.comment-form .form-group textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.range-slider-one .filter-btn:hover,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.contact-info-section ul li .icon,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus{
	border-color:#FF4136;
}

/*RGBA Color Dark*/

.message-section .image-layer:before,
.gallery-item .inner-box .image .overlay-box .content{
	background-color:rgba(255,65,54,0.80);
}

.faq-section .prod-tabs .tab-btns{
	border-top-color:#FF4136;
}

.payment-box .payment-options li .radio-option label .small-text:before{
	border-bottom-color:#FF4136;
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#FF4136;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#FF4136;
	}
	
}